{% extends "layout.html" %}
{% block title %}Competition Details{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<style>
    .competition-details {
        margin-top: 20px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        transition: box-shadow 0.3s;
        color: #9FB1BC;
    }

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .teams li {
        list-style-type: none;
    }

    .table th,
    .table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid white;
    }

    .table tbody tr:hover {
        background-color: #9FB1BC;
    }

    .moderator-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; /* Space between buttons */
        margin: 20px 0;
    }

    .moderator-buttons button {
        background-color: #9FB1BC;
        padding: 10px 20px;
        border-radius: 15px;
        border: none;
        font-family: helvetica;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .moderator-buttons button:hover {
        background-color: #d5d0d0;
    }

    .moderator-buttons a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .alert {
        padding: 20px;
        background-color: #E2C044; /* Red */
        color: white;
        margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }
</style>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    </div>
    {% endif %}
{% endwith %}
<!-- Moderator Buttons Section -->
<div class="moderator-buttons">
    {% if session['user_type'] == 'moderator' and moderator in competition.moderators and not competition.confirm %}
        <button>
            <a href="{{ url_for('comp_views.add_results_page', comp_id=competition.id) }}">Add Results</a>
        </button>
        <button>
            <a href="{{ url_for('comp_views.confirm_results', comp_name=competition.name) }}">Confirm Results</a>
        </button>
    {% endif %}
</div>

<div class="container">
    {% if not competition.confirm %}
        <center> <h4 style="color: white;">{{ competition.name }} Unofficial Results</h4> </center>
    {% else %}
        <center> <h4 style="color: white;">{{ competition.name }} Official Results</h4> </center>
    {% endif %}
    <br>
    <table class="table" style="color: white; font-family: verdana;">
        <thead>
            <tr>
                <th><center>Rank</center></th>
                <th><center>Team</center></th>
                <th><center>Members</center></th>
                <th><center>Score</center></th>
            </tr>
        </thead>
        <tbody>
            {% for row in leaderboard %}
            <tr>
                <td><center>{{row['placement']}}</center></td>
                <td><center>{{row['team']}}</center></td>
                <td>
                {% for student in row['members'] %}
                    <center><a style= "color: white;" href="{{url_for('index_views.student_profile_by_name', name=student)}}">{{student}}</a></center>
                {% endfor %}
                </td>
                <td><center>{{row['score']}}</center></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="padding: 20px;"></div>
{% endblock %}
